<div>
    <span>Are you sure you want to delete this transaction?</span>
    <button class="btn btn-outline-primary">Cancel</button>
    <button class="btn btn-danger">Delete</button>
</div>

@code 
{

}
